<!-- <div [ngClass]="{'dark-theme': isDarkTheme | async}">
  <div class="mat-app-background">
  <router-outlet></router-outlet>
  </div>
  </div> -->

<app-splash-screen
  [animationType]="'fade-out'"
  [duration]="2"
  [animationDuration]="0.5"
>
</app-splash-screen>
<app-sidenav (toggleSideNav)="onToggleSideNav($event)"> </app-sidenav>
<app-header
  [collapsed]="isSideNavCollapsed"
  [screenWidth]="screenWidth"
></app-header>
<app-body [collapsed]="isSideNavCollapsed" [screenWidth]="screenWidth">
  <!-- <span *ngIf="update" style="text-align: center;">There is a new update please refresh!</span> -->
</app-body>
<app-floating-button *ngIf="show"></app-floating-button>
